{% extends "account/base.html" %} {%load static %} {% load i18n %} {% block head_links %}

<title>Profile</title>

{% endblock %}
{% block head_title %}
{% trans "Sign In" %} 
{% endblock %}
 {% block content %}
<div class="container-fluid">
  <div class="container main-box">
    {% block messages %} {% if messages %}
    <div>
      <ul>
        {% for message in messages %}
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <strong>{{message}}</strong>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </ul>
    </div>
    {% endif %} 
    {% endblock %}
    <div class="container">
      <div class="welcome-box">
        <div class="name-box">
          <div class="row">
            <div class="col-sm-12">
              <h2>I am,</h2>
              <h2>Ekaansh Sahni</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h4>
              I created this Application so that people can add and complete
              their tasks easily. This was a problem for me also that i was not
              able to track down my daily tasks and the other online tools were
              not to my choice. so I had to Code this!
              <a href="https://ekesel.me">Contact Me!</a>
            </h4>
          </div>
        </div>
        <div class="name-box">
          <div class="row">
            <div class="col-sm-12 my-3">
              <h2>What It Does?</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" style="font-weight:bold;">
              <h4>Well, This Application has this as feature list -</h4>
              <ol>
                <li>Add Tasks which will be removed after a day.</li>
                <li>
                  Add Daily Tasks, these tasks will automatically be set daily
                  in our account.
                </li>
                <li>Get reminders to complete your tasks before night.</li>
                <li>Add Previous Set of Tasks</li>
                <li>
                  Check History of Daily Done Tasks, which helps in monitoring
                  your productivity!
                </li>
                <li>Maintain a Streak Daily</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
